*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #008b8b;
}
.app{
    margin:100px auto 0;
    /* height:50vh; */
    width:90%;
    max-width:600px;
    background-color: cadetblue;
    border-radius: 5%;
    box-shadow: 16px 16px 16px rgb(6, 55, 86);
}
.app h1{
    font-size: x-large;
    color: rgb(57, 76, 70);
    border-bottom: 2px solid black;
    text-align: center;
    padding:10px;
   
}
.quiz{
    padding: 1.2rem;

}
.quiz h2{
    font-size:large;
    color: rgb(11, 37, 47);
    text-align: center;
    font-weight: 600;
    /* padding:10px; */

}
.btn{
    border-radius:5%;
    width:100%;
    border:0.1rem solid black;
    font-weight: 500;
    background-color: rgb(16, 124, 128);
    color:white;
    padding: 1rem;
    margin: 1rem 0px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;

}
.btn:hover:not([disabled]){
    background-color: rgb(110, 134, 114);
    color: aliceblue;
}
.btn:disabled{
    cursor:no-drop;
}
#next-btn{
    background-color: rgb(54, 66, 66);
    width:25%;
    color: cornsilk;
    margin:0.8rem auto 0;
    font-weight: 500;
    border:0;
    padding: 0.6rem;
    border-radius:10%;
    cursor: pointer;
    display: none;
    
}
.correct{
    background-color: rgb(41, 115, 43);
}
.incorrect{
    background-color:rgb(227, 83, 83);
}